@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Inter&display=swap');

h1 {
    font-family: 'Bacasime Antique', serif;
    font-family: 'Inter', sans-serif;
}

body{
    background-image: url(../midia/bg-image.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

.altura-ta{
    height: 100px;
}

.tamanho-fonte {
    font-size: 25px;
}

@media screen and (max-width: 425px) {
    .tamanho-fonte {
        font-size: 20px;
    }
}

@media screen and (max-width: 340px) {
    .tamanho-fonte {
        font-size: 18px;
    }
}